/*
Jasiah Odell
Full Stack Web Development, Fall 2025
Project 3: Guess-a-number Game
Description: A webpage that lets the user play a guess-a-number game. 
Using html to create a UI, css for styling, and js for functionality.
*/

/* General Rules*/
body {
    background-color: #ccefff;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0 20%;
}

/* Title */
h1 {
    font-family: Impact, Tahoma, sans-serif;
    font-size: 60pt;
    font-weight: normal;
}

/* Game */
#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#left_column {
    font-size: 16pt;
    width: 50%;
}
#right_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#settings_box {
    background-color: #99ddee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#settings_box p {
    margin: 5px 0;
}

input[type="text"] {
    width: 6ch;
}

#start_button {
    padding: 3px 0;
}

label {
    font-size: 10pt;
}