/*
Jasiah Odell 
Full Stack Web Development, Fall 2025
Project: College Website 
Description: Recreation of the Edmonds College Website front page
Extra Features: White header and footer areas 
*/

:root {
    --blue: #004D71;
    --green: #B3EE31;
    --grey-v1: #EEEEEE;
    --grey-v2: #DDDDDD;
    

}